.nav bar {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
}

.nav a:hover {
    color: rgb(131, 110, 234);
    background-color: lightgray;
    border-radius: 5px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
    margin: 10px;
}

div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-right: 10px;
}

div img, div video {
   flex: 1;
   height: auto;
   object-fit: cover;
}